header[role="banner"] {
  background-color: #93C68E !important;
}

.navbar a {
  color: #333333;
}

footer[role="contentinfo"] {
  background-color: #FFCB05 !important;
}

footer.bg-secondary span, footer.bg-secondary a {
  color: #333333;
}
